{% extends "base.html" %}

{% block content %}

    <h2 class="category-detail-header">Category: {{ category }}</h2>
    {% comment %} <section class="category-detail"> {% endcomment %}
    {% if category.deck.all %}
        <!--access deck through category using the related name 'deck'-->
            <ul class="category-deck-list">
            {% for deck in category.deck.all %}
                <li class="category-deck-item">
                <a href="{{ deck.get_absolute_url }}">{{ deck }}</a> created by {{ deck.creator }}
                </li>
            {% endfor %}
            </ul>
    {% else %}
        <p>There are no {{ category }} decks in the database</p>
    {% endif %}
{% comment %} </section> {% endcomment %}
{% endblock %}