{% extends "base.html" %}

{% block content %}
    <section class="deck-title">
        <span>
        <a href="{{ deck.get_absolute_url }}">{{ deck }}</a>
        </span>
        <span> created by {{ deck.creator }}
        </span>
    </section>
    <section class="play-quiz">
        <h4 id="play-button">START HERE</h4>
        <div class="quiz-display-elements">
        <div class="card-display">card</div>
        <p class="score-display">score</p>
        </div>
    </section>
    <div class="js-test">
    </div>
{% endblock %}