{% extends "base.html" %}

{% block content %}
<section class="deck-title">
    <div>
        {{ deck }} created by {{ deck.creator }}
    </div>
    <p class="score-display">Score</p>
</section>

<section class="play-quiz">
    <div class="question-answer-buttons">
        <p class="answer-button">Show Answer</p>
        <h4 class="question-button">To start click HERE</h4>
    </div>

    <div class="correct-wrong">
        <i class="fas fa-check-circle ask-if-correct"></i>
        <i class="fas fa-times-circle ask-if-wrong"></i>
    </div>

    <div class="card-main-container">
        <div class="card-display">
            <div class="card-front">Hello!</div>
            <div class="card-back">
            </div>
        </div>
    </div>

</section>
{% endblock %}