{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<h2>Welcome {{ user.get_username }}</h2>
<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />

<section class="category">
    <p>Decks by category:</p>
    <hr/>
    {% if categories %}
      {% for category in categories %}
      <p class="category_nav">
        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
      </p>
      {% endfor %}
    {% else %}
        <p>There are no categories in the database</p>
    {% endif %}
  </section>
  
<h4>Create Deck</h4>

<h4>Below are decks you've created:</h4>

{% for deck in decks %}
{% if user == deck.creator %}

<p><a href="">{{ deck.title }}</a></p>

{% endif %}
{% endfor %}

<h4>Below are available public decks:</h4>

{% for deck in decks %}
{% if deck.public %}
{% if user != deck.creator %}

<p><a href="">{{ deck.title }}</a></p>

{% endif %}
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}