{% extends "base.html" %}

{% block content %}

    {% if request.user.is_authenticated %}

    <div class="welcome-user">
        <h2>Welcome {{ user.get_username }}</h2>
        {% if user.socialaccount_set.all.0 %}
            <img class="avatar" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
        {% endif %}
        <h4 class="create-deck-link">Create Deck</h4>
    </div>

    <h4>Below are decks you've created:</h4>

        {% if user == deck.creator %}
            <ul class="list-user-decks">
                {% for deck in decks %}
                    <li class="user-deck-item"><a href="{{ deck.get_absolute_url }}">{{ deck.title }}</a></li>
                {% endfor %}
            </ul> 
        {% else %}
            <p class="create-deck-link">Create Your Own Deck</p>
        {% endif %}
       
          

    <h4>Below are available public decks:</h4>

    <ul class="list-public-decks">
        {% for deck in decks %}
            {% if deck.public %}
                {% if user != deck.creator %}
                <li class="public-deck-item"><a href="{{ deck.get_absolute_url }}">{{ deck.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    
{% endblock %}