<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TCBY Flashcards {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <!-- Add CSS in static file -->
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Indie+Flower|Julius+Sans+One|Nanum+Pen+Script|Rajdhani" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    {% block body %}
    {% comment %} {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="page-header">
      <h1><strong>Frozen Yogurt Flashcards</strong></h1>
      <ul class="registration-options">
        {% if user.is_authenticated %}
        <li class="registration-item"><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li class="registration-item"><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li class="registration-item"><a href="{% url 'account_login' %}">Sign In</a></li>
        <li class="registration-item"><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>