{% extends "base.html" %}

{% block content %}
<div class="intro">
<h2>Test Yourself</h2>
<p>Just create an account to start collecting your flashcard decks. Once you are logged in, you can quiz yourself.</p>

<section class="category-nav">
    <h3>Decks by category:</h3>
    {% if categories %}
      {% for category in categories %}
      <p class="index-category-menu-item">
        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
      </p>
      {% endfor %}
    {% else %}
        <p>There are no categories in the database</p>
    {% endif %}
  </section>
{% endblock %}
