{% extends "base.html" %}

{% block content %}
<div class="intro">
<h2>Welcome</h2>
<p>Just create an account or login to start creating your own flashcard 
decks. Or quiz yourself with the available public decks below.</p>

<section class="category-nav">
    <h3>Public Decks:</h3>
    {% for deck in decks %}
      {% if deck.public %}
      <p class="index-category-menu-item">
        <a href="{{ deck.get_absolute_url }}">{{ deck.title }}</a>
      </p>
      {% endif %}
    {% endfor %}
  </section>
{% endblock %}
