* {
    border: 1px dotted grey;
    margin: auto;
    padding: 0;
}
/* main and base sections */
html {
    font-family: 'Rajdhani', sans-serif;
    min-height: 100%;
}

.category-nav {
    display: flex;
    flex-wrap: wrap;
}

.header-title {
    font-family: 'Comfortaa', cursive;
}

.page-header {
    display: flex;
    justify-items: stretch;
    padding: 2rem 3rem 2rem 3rem;
    border-bottom: 2px solid honeydew;
    background-color: rgb(52, 93, 108);
}

.page-header a {
    color: mintcream;
    text-decoration: none;
}

.intro {
    padding: 1rem 3rem 1rem 3rem;
}

.registration-options {
    display: flex;
    text-align: center;
    list-style-type: none;
}

.user-profile-link a {
    color: orange;
    font-weight: 600;
}

.registration-item {
    padding: 1rem;
}

/* User profile page */
.welcome-user {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-content: flex-start;
    padding: 1rem 3rem 1rem 3rem;
}

.create-deck-link {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
}

.list-user-decks {
    display: flex;
    list-style-type: none;
}

.list-public-decks {
    display: flex;
    list-style-type: none;
}

/* Category detail page */
.category-detail {
    padding: 1rem 3rem 1rem 3rem;
}

/* Quiz detail page */
.play-quiz {
    display: flex;
    flex-direction: column;
}

#play-button {
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.quiz-display-elements {
    display: flex;
    flex-direction: column;
}

.card-display {
    width: 600px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    padding: 1rem;
    margin: 1rem;
}

.score-display {
    align-self: flex-start;
}

/* Footer */
.page-footer {
    background-color: mintcream;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    padding: 1rem 3rem 3rem 3rem;
}