* {
    border: 1px dotted grey;
    margin: auto;
    padding: 0;
}

html {
    font-family: 'Rajdhani', sans-serif;
    min-height: 100%;
}

.category-nav {
    display: flex;
    flex-wrap: wrap;
}

.header-title {
    font-family: 'Comfortaa', cursive;
}

.page-header {
    display: flex;
    justify-items: stretch;
    padding: 2rem 3rem 2rem 3rem;
    border-bottom: 2px solid honeydew;
    background-color: rgb(52, 93, 108);
}

.page-header a {
    color: honeydew;
    text-decoration: none;
}

.intro {
    padding: 1rem 3rem 1rem 3rem;
}

.registration-options {
    display: flex;
    text-align: center;
    list-style-type: none;
}

.registration-item {
    padding: 1rem;
}

.category-detail {
    padding: 1rem 3rem 1rem 3rem;
}

.page-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    padding: 1rem 3rem 3rem 3rem;
}