* {
    border: 1px dotted grey;
    margin: auto;
    padding: 0;
}
/* main and base sections */
html {
    font-family: 'News Cycle', sans-serif;
    min-height: 100%;
}

.category-nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem 3rem 1rem 3rem;
}

.header-title {
    font-family: 'Fascinate Inline', cursive;
    font-size: 3rem;
    align-items: flex-start;
}

.page-header {
    display: flex;
    padding: 5rem 3rem 5rem 3rem;
    border-bottom: 2px solid honeydew;
    background-image: linear-gradient(to bottom,
    rgba(183, 216, 226, 0.5), rgba(183, 216, 226, 0.351)
    ), url(https://i.ibb.co/pyh9KHY/brandi-redd-122054-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.page-header a {
    color: darkcyan;
    text-decoration: none;
}

.registration-options {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}

.registration-options a:hover {
    font-size: 110%;
    text-decoration: underline;
}

.user-profile-link a {
    background-color: mintcream;
    color: orange;
    font-weight: 600;
    padding: 1rem;
    border-radius: 7%;
    border: 1px solid darkcyan;
}

.registration-item {
    background-color: mintcream;
    padding: 1rem;
    border: 1px solid darkcyan;
}

/* Index page */
.intro {
    padding: 1rem 3rem 1rem 3rem;
}

.index-category-menu-item {
    padding: 1rem;
    background-color: mintcream;
    border-radius: 7%;
}

.index-category-menu-item a {
    color: darkcyan;
    text-shadow: 0 2px 0 (50, 50, 50, 0.4);
}

/* User profile page */
.welcome-user {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-content: flex-start;
    padding: 1rem 3rem 1rem 3rem;
}

.create-deck-link {
    font-style: italic;
    font-weight: 600;
    padding: 1rem;
}

.list-public-decks, .list-user-decks {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem 3rem 1rem 3rem;
}

.user-deck-item, .public-deck-item {
    text-align: center;
    width: 16rem;
    height: 10rem;
    line-height: 10rem;
    margin: 1rem;
    border: 1px solid darkcyan;
}

/* Category detail page */
.category-detail-header {
    padding: 1rem 3rem 1rem 3rem;
}

/* .category-detail {
    display:flex;
    padding: 1rem 3rem 1rem 3rem;
} */

.category-deck-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem 3rem 1rem 3rem;

}

.category-deck-item {
    text-align: center;
    width: 16rem;
    height: 10rem;
    line-height: 10rem;
    margin: 1rem;
    border: 1px solid darkcyan;
}

.category-deck-creator {

}

/* Quiz detail page */
.play-quiz {
    display: flex;
    flex-direction: column;
}

#play-button {
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.quiz-display-elements {
    display: flex;
    flex-direction: column;
}

.card-display {
    width: 600px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    padding: 1rem;
    margin: 1rem;
}

.score-display {
    align-self: flex-start;
}

/* Footer */
.page-footer {
    background-color: mintcream;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    padding: 1rem 3rem 3rem 3rem;
}